@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  font-family: Lexend;
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #000000;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #0a0a0f;
}

.headerName {
  position: absolute;
  left: 40px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.headerButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.headerButton {
  height: 30px;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: white;
  font-size: 14pt;
  font-weight: normal;
}

.headerButton:hover {
  cursor: pointer;
}

.selectedButton {
  color: #5969cd;
}
