@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 100px;
  width: 100%;
  background-color: #0a0a0f;
  z-index: 100;
}

.headerName {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin: 0;
  white-space: nowrap;
  transition: color 0.2 ease;
  user-select: none;
}

.headerName:hover {
  color: #aab0ff;
}

.headerButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.headerButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14pt;
  font-weight: normal;
  transition: color 0.2s ease;
}

.headerButton:hover {
  cursor: pointer;
  color: #aab0ff;
}

.selectedButton {
  color: #5969cd !important;
}

.bodyContainer {
  margin: 20px auto;
  max-width: 1200px;
  padding: 5px 20px;
  background-color: #0a0a0f;
  border-radius: 10px;
}

.bodyText {
  color: white;
}

.homeBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 15px;
}

.homeBanner p {
  color: white;
  font-size: 30pt;
  width: 400px;
}

.homeBanner img {
  width: 200px;
  height: 200px;
  border: 3px solid #5969cd;
  border-radius: 100px;
}

.coloredWord {
  color: #5969cd;
}

.coloredWord.clickable {
  cursor: pointer;
  transition: color 0.2s;
}

.coloredWord.clickable:hover {
  color: #8093ff;
}

/*   CONDITIONAL FORMATTING   */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 15px 20px;
    gap: 10px;
  }

  .headerName {
    position: static;
    font-size: 20px;
    text-align: center;
  }

  .headerButtonsContainer {
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }

  .headerButton {
    font-size: 13pt;
  }

  .homeBanner {
    flex-direction: column;
    gap: 20px;
  }

  .homeBanner p {
    font-size: 16pt;
  }
}

@media (max-width: 1200px) {
  .bodyContainer {
    margin: 20px;
  }
}
